.project__item {
  margin: 1em 0;
}

.project__item-card {
  /* background: #ffffff; */
  background: rgba(104, 170, 162, 0.3);
  margin: 0.5em;
  padding: 2em;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 4%;
}
