.project__item {
  margin: 1em 0;
  display: flex;
  align-items: center;
}

.project__item-card {
  /* background: #ffffff; */
  background: rgba(104, 170, 162, 0.3);
  margin: 0.5em;
  padding: 1em;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 1%;
}

.project__item-contet {
  padding: 1em;
}

@media (max-width: 720px) {
  .project__item {
    display: block;
  }
}
